@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Raleway');

$merriweather: ('Merriweather Sans', sans-serif);
$raleway: ('Raleway', sans-serif);

$nav-links: 1.3rem;
$button-text: 1rem;
