footer {
  background-color: $dark-blue;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  box-sizing: border-box;
  padding-left: 20px;
  font-size: $md-size;
}
