body, html, main, .container {
  @include hundredeverything;
  @include zeromarginpadding;
}

.splash {
  padding: 0 5rem;
}

.splash-title {
  font-family: $merriweather;
  text-align: center;
  color: $dark-blue;
  font-size: $xl-size;
  text-decoration: underline;
}

.splash-text {
  text-align: center;
  margin-top: 2rem;
  font-family: $raleway;
  font-size: $md-size;
  color: $dark-blue;
  line-height: 2rem;
}

.home-category {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  color: $yellow;
  font-size: $xl-size;
  font-family: $merriweather;
  margin: 10px 0 40px 0;

}

.home-question-container {
  display: grid;
  padding: 0 10vw;
  grid-template-columns: 2fr 1fr;
}

.home-question {
  @include questionfont($xl-size, 2rem)
}

.home-answer-container {
  width: 30vw;
  margin-left: 5vw;
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 245, 245);
  box-shadow: 2px 2px 3px #7e7d7d;
  padding: 10px;
}

.home-answer {
  @include questionfont($md-size, $md-line-spacing);
  margin: 10px 0;
}

.home-answer > input {
  margin-right: 10px;
}

.home-answer:hover {
  cursor: pointer;
  background-color: lighten($dark-blue, 60%);
}

.home-check-answer-button {
  font-size: $button-text;
  letter-spacing: $sm-letter-spacing;
  color: #fff;
  font-family: $raleway;
  font-weight: $normal;
  background-color: $dark-blue;
  outline: none;
  border: none;
  box-shadow: 2px 2px 4px #7e7d7d;
  width: 60%;
  display: block;
  margin: .5rem auto;
  border-radius: 5px;
  padding: 10px;

    &:hover {
    cursor: pointer;
    background-color: $yellow  }
}

.home-load-question-button {
  font-size: $button-text;
  letter-spacing: $sm-letter-spacing;
  color: #fff;
  font-family: $raleway;
  font-weight: $normal;
  background-color: $dark-blue;
  outline: none;
  border: none;
  box-shadow: 2px 2px 4px #7e7d7d;
  width: 20%;
  display: block;
  margin: 2rem auto;
  border-radius: 5px;
  padding: 10px;

    &:hover {
    cursor: pointer;
    background-color: $yellow;
  }
}
