.new-form {
  width: 90%;
  margin: 3rem auto;
  padding: 30px 15px;
  box-sizing: border-box;
  background-color: whitesmoke;
  box-shadow: 2px 2px 4px #7e7d7d;
  border-radius: 10px;


  h2 {
    font-size: 1.5rem;
    font-family: $merriweather;
    color: $dark-blue;
    letter-spacing: $lg-letter-spacing;
    text-transform: uppercase;
    text-align: center;
  }

  label {
    margin-left: 5%;
    font-family: $raleway;
  }

  textarea, input[type="text"] {
    width: 90%;
    display: block;
    margin: 10px auto 20px auto;
    padding: 10px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 15px;
    border: none;
    outline: none;
    
    &:focus, &:active {
      border: .5px solid $yellow;
    }
  }

  textarea {
    resize: vertical;
    height: 50px;
  }

  input[type="submit"] {
    font-size: $button-text;
    letter-spacing: $sm-letter-spacing;
    color: #fff;
    font-family: $raleway;
    font-weight: $normal;
    background-color: $dark-blue;
    outline: none;
    border: none;
    box-shadow: 2px 2px 4px #7e7d7d;
    width: 80%;
    display: block;
    margin: 2rem auto;
    border-radius: 5px;
    padding: 10px;

    &:hover {
      cursor: pointer;
      background-color: lighten($dark-blue, 5%);  
    }

    &:active {
      cursor: pointer;
      box-shadow: inset 2px 2px 4px #7e7d7d;

    }
    
  }
}