.new-form {
  width: 90%;
  margin: auto;

  h2 {
    font-size: 1.5rem;
    font-family: $merriweather;
    color: $dark-blue;
    letter-spacing: $lg-letter-spacing;
    text-transform: uppercase;
  }

  textarea, input[type="text"] {
    width: 90%;
    margin: auto;
    display: block
  }
}